
body {
  text-align: center;
}

.feature {
  background-image: url("images/background.jpg");
  background-position: 0 0;
  background-size: 100% auto;
  background-size: cover;
}

@media (min-width: 1000px) {
  .feature > div {
    min-height: 70vh;
  }
}

.feature > div {
  background: rgba(255, 255, 255, 0.55);
}

.header {
  margin-top: 20%;
  padding-bottom: 6%;
}

.gray, .white {
  padding-top: 4%;
  padding-bottom: 4%;
}

.slideshow {
  position: relative;
}

.gallery {
  position: absolute;
  top: 0px;
  left: 0px;
}

.img-hidden {
  opacity: 0;
}

.gray {
  background-color: #ddd;
}
