
body {
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
}

h1, h2 {
  font-weight: 700;
}

.feature {
  background-image: url("nove/IMG-20160219-WA0003.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 1000px) {
  .feature > div {
    min-height: 95vh;
  }
}

.feature > div {
  background: rgba(255, 255, 255, 0.75);
}

.header {
  margin-top: 13%;
  padding-bottom: 6%;
}

.gray, .white {
  padding-top: 4%;
  padding-bottom: 1.5%;
}

.slideshow {
  position: relative;
}

.gallery {
  position: absolute;
  top: 0px;
  left: 0px;
}

.img-hidden {
  opacity: 10;
}

.sponsorship {
  padding-top: 1%;
}

.gray {
  background-color: #ddd;
}
